<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465068432326-4c1or39p7dg06i2dmovg3bq8kiu0i4tt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465068432326-4c1or39p7dg06i2dmovg3bq8kiu0i4tt</string>
	<key>API_KEY</key>
	<string>AIzaSyDrP4wyJayVIdMHAZicX1v-XiUmUSO7hKI</string>
	<key>GCM_SENDER_ID</key>
	<string>465068432326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kaito.N-Friend20240309</string>
	<key>PROJECT_ID</key>
	<string>n-friends</string>
	<key>STORAGE_BUCKET</key>
	<string>n-friends.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:465068432326:ios:6912aaa64910f5f55b70c7</string>
</dict>
</plist>
